/* these all select different cell types */
body {
  font-family:sans-serif;
}

table {
  border: 4px solid black;
  padding:0px;

}

table, th {
  border: 3px solid black;
}

td {
  border: 4px solid black;
  text-align:left;
  vertical-align:top;
}

.not-in-month {
  background-color: 0F235C;
}

.in-month {
  background-color:31498F;
}

.in-month .day-number {
  background-color:91A8EC;
}

.day-name-header {
  background-color:D4A338;
}

.top {
  background-color:883511;
}

.title-cell {
  background-color:883511;
  width:auto;
  padding:0px;
}

.change-month {
  background-color:886211;
}

.prev-month {
  float:left;
}

.next-month {
  float:right;
}