@charset "utf-8";
/* CSS Document */

/*  ######### Special Fonts #########  */
@font-face {
    font-family: 'FuturaMdCnBTMedium';
    src: url('fonts/futuramc-webfont.eot');
    src: url('fonts/futuramc-webfont.eot?iefix') format('eot'),
         url('fonts/futuramc-webfont.woff') format('woff'),
         url('fonts/futuramc-webfont.ttf') format('truetype'),
         url('fonts/futuramc-webfont.svg#webfontCBimHkc4') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaMdBTMedium';
    src: url('fonts/futumd__-webfont.eot');
    src: url('fonts/futumd__-webfont.eot?iefix') format('eot'),
         url('fonts/futumd__-webfont.woff') format('woff'),
         url('fonts/futumd__-webfont.ttf') format('truetype'),
         url('fonts/futumd__-webfont.svg#webfontgqFBJJCE') format('svg');
    font-weight: normal;
    font-style: normal;
}

#wrapper {
	position: relative;
}

#overlay {
	position: absolute;
  filter:alpha(opacity=75);
  -moz-opacity: 0.75;
  opacity: 0.75;
  background-color: #ddd;
  top: -10;
  left: 0;
  width: 375px;
  height: 100%;
}

#loader {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30%;
}

body{
	background-color:#fff;
	color:#000;
	font-size:14px;
	font-family:Arial, Helvetica, sans-serif;
	line-height:20px;
}

form{
	margin: 0;
	padding: 0;
}

.inputItem{
	margin:0 0 10px 0;
}

.label{
	display:inline-block;
	width:70px;
	color: #000;
	font-size:15px;
	font-family: "FuturaMdBTMedium", Arial, Verdana, Tahoma;
}

.required{
	display:inline-block;
	color: #000;
	font-size:12px;
	font-family: "FuturaMdBTMedium", Arial, Verdana, Tahoma;
	margin: 0;
	padding: 0;
}

.inputBox input{
	color: #000;
	font-size:15px;
	background-color: #fff;
	border: 1 px solid #000;
	padding: 3px;
	width: 290px;
	font-family: "FuturaMdBTMedium", Arial, Verdana, Tahoma;
}

.inputBox select{
	color: #000;
	font-size:15px;
	background-color: #fff;
	border: 1 px solid #000;
	padding: 3px;
	width: 290px;
	
}

#submitButton{
	margin: 20px 0 20px 300px;
	border: none;
	text-align: center;
	height: 28px;
	padding: 6px;
	color: #white;
	font-size: 14px;
	text-transform: uppercase;
	font-family: "FuturaMdCnBTMedium", Arial, Verdana, Tahoma;
	text-decoration: none;
	cursor: pointer;
}

#submitButton:hover{
color:#06A9DF;	
}

p.debug{
	color:#515151;
	font-family: "FuturaMdBTMedium", Arial, Verdana, Tahoma;
	font-size:16px;
}

.thanks {
	color: #f5d225;
	font-size:20px;
	border: none;
	padding: 10px;
	width: 360px;
	margin: 0 0 20px 0;
	font-family: "FuturaMdBTMedium", Arial, Verdana, Tahoma;
}

.needRequired {
	color: #f5d225;
	font-size:20px;
	border: none;
	padding: 10px;
	width: 360px;
	margin: 0 0 20px 0;
	font-family: "FuturaMdBTMedium", Arial, Verdana, Tahoma;
}

.requiredNote {
	margin: 0;
	padding: 0;	
}