/* side panel stuff here */
#side-panel{
  border:3px solid black;
  width:185px;
  background-color:black;
  color:white;
  opacity:.86;
}

#side-panel #sp-event-title {
  margin:1px;
  padding:0px;
}

#side-panel #sp-event-date {
  margin:1px;
  padding:0px;
}

.sp-button {
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}

#calendar-container {
  width: 1300px;
  overflow: hidden;
  margin:50px;
}